
.search{
	width: 60%;
	max-width: 100%;
	margin: auto;
	background: #fff;
	padding:0 10px;
	padding-bottom: 5px;
	max-height: 85%;
	overflow-x: hidden;
	display: none;
}

.search-tabla{
	width: 50%;
}

tbody tr td{
	width: 100%;
}

tbody tr td a{
	text-decoration: none;
	font-size: 18px;
	color: #737373;
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px 0;
	padding-left: 20px;
	border: 2px solid #fff;
}

tbody tr td a:hover{
	border: 2px solid #378FD9;
}

.search::-webkit-scrollbar{
	background:rgba(0,0,0,0);
}

.search::-webkit-scrollbar-button{
 	background:#C1C1C1;
}

.search::-webkit-scrollbar-thumb{
	background:#C1C1C1;
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
	display: none;
}
input[type="search"] {
  display: inline-block;
  box-sizing: content-box;
  margin-top: 3%;
  margin-left: 5%;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: white;
  text-overflow: clip;
  background: #4CAF50;

}
